
# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

MYSQL_ROOT_PASSWORD=administrator
PORT=3000
DB_HOST=localhost
DB_PORT=3308
DB_SCHEMA=default@default
DATABASE_URL="mysql://root:${MYSQL_ROOT_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_SCHEMA}"
REDIS_URL=redis://localhost:6379
SECRET_KEY=secretKey
RATE_LIMIT_WINDOWMS=900000
RATE_LIMIT_MAX=100