<div class="p-4">
  <div class="flex justify-end">
    <mat-form-field appearance="outline" class="w-1/5 m-0">
      <input
        matInput
        placeholder="Search email..."
        [(ngModel)]="filter"
        (ngModelChange)="filterSubject.next($event)"
        #input
      />
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 tableContainer rounded-b overflow-auto">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="text-white rounded-tl">Full Name </th>
        <td mat-cell *matCellDef="let element"> {{ '' | fullname : element.first_name : element.last_name }} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="text-white">Email</th>
        <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef class="text-white">Age</th>
        <td mat-cell *matCellDef="let element"> {{ element.date_of_birth | age }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-white rounded-tr">Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="View" (click)="openViewDialog(element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Update" (click)="openUpdateDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Delete" (click)="openDeleteDialog(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="tableHeader"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" [colSpan]="displayedColumns.length">
          No data matching with the filter <strong class="">"{{ input.value }}"</strong>
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPage($event)"
      [length]="length"
      showFirstLastButtons
      class="rounded-b sticky bottom-0 z-10"
    >
    </mat-paginator>
  </div>
</div>
