<div class="flex justify-center items-center h-full">
  <div class="container box-border px-6 py-16 border-2 border-grey-800 rounded-2xl shadow-xl">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <p class="text-2xl pb-4"> Change Password </p>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          formControlName="old_password"
          [type]="hideOldPassword ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{
          hideOldPassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hideNewPassword ? 'password' : 'text'"
          (input)="onPasswordInput()"
        />
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{
          hideNewPassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="repassword"
          [type]="hideConfirmPassword ? 'password' : 'text'"
          (input)="onPasswordInput()"
        />
        <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{
          hideConfirmPassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
        <mat-error
          *ngIf="
            changePasswordForm.controls.repassword.invalid &&
            !changePasswordForm.controls.repassword.hasError('required')
          "
          >Password don't match</mat-error
        >
      </mat-form-field>
      <div class="flex">
        <button mat-stroked-button class="w-full mr-2" (click)="backToHome()"> CANCEL </button>
        <button mat-flat-button color="primary" class="w-full" type="submit"> SAVE </button>
      </div>
    </form>
  </div>
</div>
